/* 
    Round Review Theme CSS - Core styles
    by Maxelweb
*/

/* ========================================== */

:root {
    --primary: #37519d;
    --secondary: #333;
}

body {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #333;
    text-align: center;
    background-color: #FFF;
}

a {
    color:#37519d;
}

a:hover {
    color:#333;
}

a:visited {
    color:rgb(17, 78, 158)
}

.raw {
    font-family: 'Courier New', Courier, monospace;
    font-size: 9pt;
}

img {
    max-width: 200px;
}

h2 {
    margin: 0.5rem 0;
}

h2 small {
    border: 2px solid #acacac;
    border-radius: 8px;
    padding: 3px 6px;
    font-size: small;
}

input[type=text], 
input[type=email], 
input[type=password],
.custom-input,
.amount-input {
    border-radius: 0;
    border: 0;
    width: 98%;
    max-width: 300px;
    margin: 10px 5px 0 0;
    display: block;
}

input[type=text],
input[type=email],
input[type=password],
table,
textarea{
    width: 98%;
    padding: 8px;
    border: 1px solid #999;
    border-radius: 4px;
}

textarea {
    max-width: 98% !important;
    resize: vertical;
    border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.custom-input {
    width: 40% !important;
    padding: 8px;
}

.custom-select {
    width: auto !important;
    min-width: 50px;
    padding: 8px;
    border: 0;
}

.amount-input {
    min-width: 100px;
    padding: 6px 4px;
    font-size: 18px;
    text-align: right;
}

code {
    color: rebeccapurple;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #333;
    color: #e0e0e0;
}

td,th {
    padding: 6px 14px;
    border: 1px solid #333;
}

legend {
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 6px;
    border: 2px solid #cc9607;
    font-size: 90%;
}

fieldset {
    border: 0px solid var(--secondary);
    background-color: #f5f5f5;
    border-radius: 4px;
}

fieldset textarea{
    width: 95% !important;
}