/* 
    Round Review Theme CSS - LIGHT theme
    by Maxelweb
*/

/* ========================================== */

:root {
    --primary: #37519d;
    --secondary: #333;
    --warning: #b98401;
    --success: #79b901;
    --danger: #b53939;
    --muted: #747474;

    --theme-body-bg: #FFF;
    --theme-body-text: #333;
    --theme-banner-bg: #f7f5f4;
    --theme-banner-border: #e0e0e0;
    --theme-banner-text: #333;
    --theme-banner-a: #444;
    --theme-banner-a-hover: #222;
    --theme-banner-nav-hover: #ebebeb;
    --theme-input-tables-bg: #fdfdfd;
    --theme-input-tables-border: #eee9e9;
    --theme-input-focus-primary: #c9d0da;
    --theme-input-focus-secondary: #d1d1d1;
    --theme-a-link: #37519d;
    --theme-a-link-hover: #2755df;

    --theme-resources-folder-bg: #f5f5f7;
    --theme-resources-folder-border: #ebebeb;
    --theme-resources-folder-bg-hover: #ebebef;

    --theme-document-widget-bg: #eeeef5;

    --theme-toolbars-bg: #f0f0f0;
    --theme-toolbars-border: #e0e0e4;
    --theme-toolbars-alt-border: #e0e0e0;
    --theme-toolbars-outline-border: #fff;
    --theme-toolbars-shadow: rgba(196, 196, 196, 0.3);

    --theme-comment-bg: #ebebeb;
    --theme-comment-border: #ebebeb;
    --theme-comment-control: #ffff4a;
}
