/* 
    Round Review Theme CSS
    by Maxelweb
*/

/* ========================================== */

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(core.css);
@import url(template.css);
@import url(utils.css);