/* 
    Round Review Theme CSS - Template styles
    by Maxelweb
*/

/* ========================================== */


header{
    display: block;
    margin: -8px -8px 0px;
    padding: 0;
    text-align: left;
    border-bottom: 1px solid var(--theme-banner-border);
    color: var(--theme-banner-text);
    background: var(--theme-banner-bg);
    height: 120px;
}

header img{
    margin-top: 16px;
}

header a, header a:visited{
    color: var(--theme-banner-a);
}

header a:hover {
    color: var(--theme-banner-a-hover);
}

header h1{
    display: inline-block;
    margin: 14px 12px;
    vertical-align: top;
}

header .logo h1 {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
}


footer img{
    display: block;
    margin: 20px auto;
    max-width: 180px !important;
}

section{
    margin: 0 0 20px;
    background-color: var(--theme-body-bg);
    padding: 12px 14px 24px;
    max-width: 1115px;
    text-align: left;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

section.content{
    min-height: calc(100vh - 300px);
    margin: 0 auto;
}

section .section-logo{
    position: absolute;
    margin-top: 0;
    margin-right: 0;
}

footer {
    color: rgb(143, 143, 143);
    font-size: 90%;
    margin: 20px auto;
    text-align: center;
}


.container {
    max-width: 1115px;
    margin: 0 auto;
}

.nav {
    display: block;
    margin: 6px 12px;
}

.nav a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    margin-right: 5px;
}

.nav a:hover{
    background-color: var(--theme-banner-nav-hover);
    border-color: var(--theme-banner-border);
    border-radius: 8px;
}

.nav a.current {
    color: var(--primary);
    padding: 10px 10px 15px;
    border-bottom: 2px solid var(--primary);
    border-radius: 0;
}


.nav a.current:hover {
    color: var(--secondary);
    border-color: var(--secondary);
    background-color: transparent;
}

.dropzone {
    background-color: transparent !important;
    border: 4px dashed var(--primary) !important;
}