{% extends 'project/base_wide.html' %}

{% block inner_content %}
    <div class="container">
        <a href="{{ url_for('project.view_objects', project_id=project.id) }}" class="small go-back-link"><i class="fas fa-circle-arrow-left"></i> Back to project</a>
        <h3><i class="fas fa-file primary my-1"></i> {{ object.name }}</h3>
        <p class="muted">
            {{ object.description if object.description else "No description" }}
        </p>
    </div>

    <div class="object-details">
        {% if object.status == 'Approved' %}
        <div class="form-group text-center">
            <a href="{{ url_for('object.download_signed', object_id=object.id) }}" class="btn btn-success">
                Download Digitally Signed Version
            </a>
        </div>
        {% endif %}
    </div>
    
    <div class="pdf-container">
        <div class="pdf-navbar container" id="controls">
            <div class="pdf-control">
                <button id="prev-page"><i class="fas fa-arrow-left"></i></button>
                <button id="next-page"><i class="fas fa-arrow-right"></i></button>
                Page: <span class="bold" id="page-num">1</span> / 
                <span id="total-pages-num"></span>
            </div>
                <div class="pdf-control pdf-status">
                    <select class="status-label" id="status-label" data-current-status="{{ object.status.value }}">
                        {% for status in object_statuses.keys() %}
                            <option {% if object.status == status %}selected{%endif%}
                            data-color="{{ object_statuses.get_color(status) }}">{{ status.value }}</option>
                        {% endfor %}
                    </select>
                </div>
            <div class="pdf-control">
                <button id="reset-scale" style="display: none;"><i class="fas fa-undo"></i> Reset</button>
                <button id="page-zoom-in"><i class="fas fa-search-plus"></i></button>
                <button id="page-zoom-out"><i class="fas fa-search-minus"></i></button>
                Scale: <span class="bold" id="page-scale"></span>
            </div>
        </div>
        <div class="pdf-viewer" id="pdf-container" data-pdf-url="{{ url_for('object.get_file', project_id=project.id, object_id=object.id) }}" data-pdf-object-id="{{ object.id }}">
            <canvas id="pdf-canvas"></canvas>
            <div id="markers"></div>
            <textarea id="comment-input" class="comment-textarea" placeholder="Write the comment here (press ESC to quit)"></textarea>
        </div>

        <div class="pdf-sidebar" id="sidebar">
            <h3><span class="badge-total" id="total-page-comments">0</span> Comments on this page</h3>
            <span class="hidden" id="author-info" data-author-name="{{ user.name }}" data-author-id="{{ user.id }}" data-author-can-comment="{{ can_comment }}" data-author-can-edit="{{ can_edit }}"></span>
            <div id="comments-list"></div>
        </div>
    </div>

    <div class="container">
        <h3><i class="fas fa-file primary my-1"></i> Information</h3>
        
        <p><span class="muted">Project title:</span> <strong>{{ project.title }}</strong></p>
        <p><span class="muted">Document version:</span> <strong>v{{ object.version }}</strong></p>
        <p><span class="muted">Path:</span> <code>{{ object.path }}</code> &raquo; <a href="{{ url_for('project.view_objects', project_id=project.id ) }}?path={{ object.path }}">Go to folder</a></p>
        <p><span class="muted">Author:</span> <strong>{{ object.user.name }}</strong></p>
        <p><span class="muted">Upload date:</span> <strong>{{ object.upload_date }}</strong></p>
        <p><span class="muted">Last update date:</span> <strong>{{ object.update_date }}</strong></p>
        </p>
    </div>


    <script src="{{ url_for('static', filename='js/object.js') }}"></script>

{% endblock %}
